In [2]:
import pandas as pd

# Load dataset
df = pd.read_csv("../data/Summer-Olympic-medals-1976-to-2008.csv")

# Preview first few rows
df.head()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"K�HLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze

In [3]:
print("Shape of data:", df.shape)
print("\nColumns:\n", df.columns.tolist())
print("\nMissing values:\n", df.isnull().sum())

Shape of data: (15433, 11)

Columns:
 ['City', 'Year', 'Sport', 'Discipline', 'Event', 'Athlete', 'Gender', 'Country_Code', 'Country', 'Event_gender', 'Medal']

Missing values:
 City            117
Year            117
Sport           117
Discipline      117
Event           117
Athlete         117
Gender          117
Country_Code    117
Country         117
Event_gender    117
Medal           117
dtype: int64

In [4]:
# Drop Event_gender and Country_Code
df.drop(columns=['Event_gender', 'Country_Code'], inplace=True)

# Remove rows with missing medals (if any)
df.dropna(subset=['Medal'], inplace=True)

# Confirm cleanup
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15316 entries, 0 to 15432
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        15316 non-null  object
 1   Year        15316 non-null  float64
 2   Sport       15316 non-null  object
 3   Discipline  15316 non-null  object
 4   Event       15316 non-null  object
 5   Athlete     15316 non-null  object
 6   Gender      15316 non-null  object
 7   Country     15316 non-null  object
 8   Medal       15316 non-null  object
dtypes: float64(1), object(8)
memory usage: 1.2+ MB

In [5]:
df['Medal'] = df['Medal'].str.title()  # Ensure Gold/Silver/Bronze format
df['Gender'] = df['Gender'].str.upper()  # Ensure 'M' or 'F'

# Check unique values
print("Unique medals:", df['Medal'].unique())
print("Unique genders:", df['Gender'].unique())

Unique medals: ['Silver' 'Bronze' 'Gold']
Unique genders: ['WOMEN' 'MEN']

In [6]:
df.to_csv("../data/cleaned_olympics_data.csv", index=False)
print("✅ Cleaned data saved.")

✅ Cleaned data saved.