In [1]:
import pandas as pd

# Load the cleaned dataset from Notebook 1
df = pd.read_csv("../data/cleaned_olympics_data.csv")

# Preview
df.head()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"K�HLER, Christa",WOMEN,East Germany,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",MEN,Soviet Union,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",MEN,United States,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",MEN,Italy,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",WOMEN,United States,Bronze

In [2]:
# Total medals by country
top_countries = df['Country'].value_counts().head(10)
print(top_countries)

Country
United States     1992
Soviet Union      1021
Australia          798
Germany            691
China              679
Russia             638
East Germany       626
Italy              486
Romania            482
United Kingdom     467
Name: count, dtype: int64

In [3]:
medals_by_year = df.groupby('Year')['Medal'].count()
print(medals_by_year)

Year
1976.0    1305
1980.0    1387
1984.0    1459
1988.0    1546
1992.0    1705
1996.0    1859
2000.0    2015
2004.0    1998
2008.0    2042
Name: Medal, dtype: int64

In [4]:
gender_medals = df['Gender'].value_counts()
print(gender_medals)

Gender
MEN      9388
WOMEN    5928
Name: count, dtype: int64

In [5]:
top_sports = df['Sport'].value_counts().head(10)
print(top_sports)

Sport
Aquatics         2210
Athletics        1523
Rowing           1377
Hockey            817
Gymnastics        783
Handball          780
Volleyball        695
Canoe / Kayak     672
Football          669
Basketball        646
Name: count, dtype: int64

In [6]:
top_athletes = df['Athlete'].value_counts().head(10)
print(top_athletes)

Athlete
PHELPS, Michael       16
NEMOV, Alexei         12
FISCHER, Birgit       12
TORRES, Dara          12
ANDRIANOV, Nikolay    12
THOMPSON, Jenny       12
BIONDI, Matthew       11
COUGHLIN, Natalie     11
SCHERBO, Vitaly       10
LEWIS, Carl           10
Name: count, dtype: int64

In [7]:
# Save basic summaries
df['Country'].value_counts().to_csv("../data/country_medal_counts.csv")
df['Sport'].value_counts().to_csv("../data/sport_medal_counts.csv")